USE [master]
GO
/****** Object:  Database [Student]    Script Date: 2020/12/22 19:08:05 ******/
--CREATE DATABASE [Student]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'Student', FILENAME = N'/var/opt/mssql/data/Student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'Student_log', FILENAME = N'/var/opt/mssql/data/Student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- WITH CATALOG_COLLATION = DATABASE_DEFAULT
--GO
ALTER DATABASE [Student] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Student]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2020/12/22 19:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](80) NOT NULL,
	[username] [varchar](80) NOT NULL,
	[password] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2020/12/22 19:08:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sid] [varchar](100) NOT NULL,
	[sname] [varchar](100) NOT NULL,
	[ssex] [varchar](50) NOT NULL,
	[sage] [varchar](50) NOT NULL,
	[sclass] [varchar](100) NOT NULL,
	[sphone] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([id], [name], [username], [password]) VALUES (1, N'管理员', N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [sid], [sname], [ssex], [sage], [sclass], [sphone]) VALUES (1, N'1010031021', N'Test', N'男', N'20', N'10100310', N'123456')
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
USE [master]
GO
